# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual environments
.venv/
venv/

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Next.js
frontend/.next/
frontend/node_modules/

# Python cache
.pytest_cache/